version: '3.7'

services:

  elasticsearch:
   container_name: elasticsearch
   image: docker.elastic.co/elasticsearch/elasticsearch:7.6.2
   ports:
    - 9200:9200
   volumes:
    - elasticsearch-data:/usr/share/elasticsearch/data
   environment:
    - xpack.monitoring.enabled=true
    - xpack.watcher.enabled=false
    - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    - discovery.type=single-node
   networks:
    - elastic

  kibana:
   container_name: kibana
   image: docker.elastic.co/kibana/kibana:7.6.2
   ports:
    - 5601:5601
   depends_on:
    - elasticsearch
   environment:
    - ELASTICSEARCH_URL=http://elasticsearch:9200/
   networks:
    - elastic

  api:
    container_name: mcsemailweb
    image: mcsemailweb:latest
    ports:
    - 80:80
    - 443:443
    depends_on:
    - elasticsearch
    - kibana
    environment:
    - ASPNETCORE_ENVIRONMENT=Development
    - FROM=a_lagun@todes.by
    - VIEWNAME=StarikKsardas Microservices
    - SMTPSERVER=mail.todes.by
    - PORT=25
    - USERNAME=a_lagun
    - PASSWORD=123QWEasd
    - ISSSL=false
    networks:
    - elastic
  
networks:
  elastic:
    driver: bridge

volumes:
  elasticsearch-data: